# Secrets / env
.env
*.env
.env.local
.env.*

# Python artefacts
__pycache__/
*.py[cod]

# Django stuff:
*.log
static # Static files are collected in staticfiles folder

# Git / misc
.git
.gitignore
.DS_Store

# Virtual environment
venv