<div class="modal fade" id="infoVariantClassificationGroups" tabindex="-1" aria-labelledby="infoVariantClassificationGroupsLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="infoVariantClassificationGroupsLabel">Variant Classification Groups</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li class="mt-2">
                        <input class="form-check-input form-check-input-red variant-classification-filter static-control" type="checkbox" tabindex="-1" checked>
                        <b>PTV LoF</b> (with <b>Ter</b> in HGVSp)
                        <ul class="mt-1 ms-4">
                            <li>Frameshift variant</li>
                            <li>Stop gained</li>
                        </ul>
                    </li>
                    <li class="mt-2">
                        <input class="form-check-input form-check-input-red variant-classification-filter static-control" type="checkbox" tabindex="-1" checked>
                        <b>non-PTV LoF</b> (without <b>Ter</b> in HGVSp)
                        <ul class="mt-1 ms-4">
                            <li>Frameshift variant</li>
                            <li>Stop gained</li>
                            <li>Splice acceptor variant</li>
                            <li>Splice donor variant</li>
                        </ul>
                    </li>
                    <li class="mt-2">
                        <input class="form-check-input form-check-input-yellow variant-classification-filter static-control" type="checkbox" tabindex="-1" checked>
                        <b>Missense / Inframe indel</b>
                        <ul class="mt-1 ms-4">
                            <li>Missense variant</li>
                            <li>Inframe insertion</li>
                            <li>Inframe deletion</li>
                            <li>Stop lost</li>
                            <li>Start lost</li>
                        </ul>
                    </li>
                    <li class="mt-2">
                        <input class="form-check-input form-check-input-green variant-classification-filter static-control" type="checkbox" tabindex="-1" checked>
                        <b>Silent</b>
                        <ul class="mt-1 ms-4">
                            <li>Synonymous variant</li>
                        </ul>
                    </li>
                    <li class="mt-2">
                        <input class="form-check-input form-check-input-grey variant-classification-filter static-control" type="checkbox" tabindex="-1" checked>
                        <b>Other</b>
                        <ul class="mt-1 ms-4">
                            <li>All others</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
