{% extends "main/base.html" %}

{% block content %}

<div class="container-fluid px-5">
    <div class="mt-5 mx-auto bg-white shadow card-800">
        <div class="row">
            <div class="col-12">
                <h1 class="fw-light text-center pt-5">Welcome to NHS GENIE {{ GENIE_VERSION }} BETA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead text-muted text-center pt-2">
                    Please search by gene symbol or chromosomal position/region (hg38).
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <h6><b>Examples</b></h6>
                <ul>
                    <li>Gene: <a class="primary-link" href="{% url 'main:search' %}?search_value=NF1">NF1</a></li>
                    <li>Chromosomal position: <a class="primary-link" href="{% url 'main:search' %}?search_value=7:140753336">7:140753336</a></li>
                    <li>Chromosomal region: <a class="primary-link" href="{% url 'main:search' %}?search_value=17:31226000-31227000">17:31226000-31227000</a></li>          
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <p>
                    <a class="primary-link" href="{% url 'main:about' %}">Information about generation of patient count data</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-5">
                <div class="alert alert-warning" role="alert">
                    <h6 class="text-center"><b>Warning</b></h6>
                    This resource is currently in beta-testing; current limitations include:
                    <ul>
                        <!--IMPORTANT! After fixing this, remove the redirects in the search_view function too. -->
                        <li>Variants in the MEF2B gene are mis-annotated - please search using MEF2BNB-MEF2B</li>
                        <li>Variants in the TENT5C gene are mis-annotated - please search using FAM46C </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}