{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="container-fluid px-5">
        <div class="row my-3 pb-2 bg-white shadow">
            <!-- Displayed before variant table data is loaded
                or when no data is found (text is updated via a javascript). -->
            <p id="div-table-variants-no-data-message" class="pt-3 lead text-muted text-center">
                Looking for variant data...
            </p>
            <!-- Table <div> is hidden until it is fully loaded
                to display the custom loading message. -->
            <div id="div-table-variants" class="table-variants" hidden="hidden">
                <div class="row pt-1 align-items-center">
                    <div class="col col-auto">
                        <button id="clear-filters-btn" class="btn btn-secondary btn-sm" onclick="clearFilters()">
                            <i class="fas fa-rotate"></i>
                        </button>
                    </div>
                    <div class="col col-auto">
                        <div class="vr mt-1" style="height: 34px;"></div>
                    </div>
                    <div class="col col-auto">
                        <h6 class="px-0 m-0"><b>{{ page_context.search_value }}</b></h6>
                    </div>
                    <div class="col col-auto">
                        <div class="vr mt-1" style="height: 34px;"></div>
                    </div>
                    <div class="col col-auto">
                        <!-- var-count-text <span> is updated via a javascript 
                            to display number of variants (rows) in the table
                            after applying all filters. -->
                        <h6 class="px-0 m-0"><b>Variants:</b> <span id="var-count-text"></span></h6>
                    </div>
                    <div class="col col-auto ms-auto">
                        * Same nucleotide change
                    </div>
                </div>
                <div class="row">
                    <!-- Table options are described in the following doc:
                        https://bootstrap-table.com/docs/api/table-options/
                        The number of rows per page (18) was selected to 
                        display the table without the vertical scrolling bar
                        on 1920x1080 monitors when all rows height is one line. -->
                    <table id="table-variants"
                        data-sort-name="pos"
                        data-search="true"
                        data-search-align="left"
                        data-search-selector="#customSearch"
                        data-page-size="18"
                        data-pagination="true"
                        data-filter-control="true"
                        data-pagination-parts="['pageList']">
                        <thead>
                            <!-- Table column width configuration have the following quirks:
                                
                                If column "data-width" is not specified then it is automatically
                                adjusted to fit the overall table width taking into account
                                the width required to display other no-"data-width" columns
                                content without breaking it into multiple rows if possible.

                                If column "data-width" is less than required to display its
                                longest non-breakable word (string with no spaces), than it is
                                automatically increased to fit it.

                                To break a long word without spaces, a style with a fixed
                                "max-width" and "word-wrap: break-word" must be used.

                                if all columns have "data-width" specified but its total width
                                does not match the overall table width then "data-width"
                                properties are ignored.

                                Variant HGVS description in rare cases can be extremly long and
                                it does not contain spaces. To avoid horizontal table scrolling, 
                                "col-max-width-500" style is used to break it into multiple lines 
                                if needed. However, for the reasons described above, it will work
                                only when at least one other column does not have fixed "data-width".
                            -->
                            <tr class="primary">
                                <th data-field="chrom" data-filter-control="input" data-sortable="true" data-width="20" data-halign="center" data-align="center" data-valign="middle">Chrom</th>
                                <th data-field="pos" data-filter-control="input" data-sortable="true" data-width="20" data-halign="center" data-valign="middle">Position</th>
                                <th data-field="consequence" data-filter-control="input" data-width="200" data-sortable="true" data-halign="center" data-valign="middle">Consequence</th>
                                <th data-field="hgvs_c" data-filter-control="input" class="col-max-width-500" data-width="500" data-sortable="true" data-halign="center" data-valign="middle">HGVSc</th>
                                <th data-field="hgvs_p" data-filter-control="input" class="col-max-width-500" data-width="500" data-sortable="true" data-halign="center" data-valign="middle">HGVSp</th>
                                <th data-field="refseq_transcript" data-filter-control="input" data-sortable="true" data-halign="center" data-valign="middle">Transcript</th>
                                <th data-field="gene" data-filter-control="input" data-sortable="true" data-halign="center" data-valign="middle">Gene</th>
                                <th data-field="haemonc_cancers_count" data-sortable="true" data-width="27" data-halign="center" data-align="right" data-valign="middle">HaemOnc<br>patient count*</th>
                                <th data-field="all_cancers_count" data-sortable="true" data-width="20" data-halign="center" data-align="right" data-valign="middle">All cancers<br>patient count*</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Load context variables from the django backend -->
{{ page_context|json_script:"page-context" }}
<script src="{% static 'js/variants.js' %}" defer></script>
{% endblock %}