{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="container-fluid px-5">
        <div class="row my-3 pb-2 bg-white shadow">
            <!-- Displayed before variant table data is loaded
                or when no data is found (text is updated via a javascript). -->
            <p id="div-table-variants-no-data-message" class="pt-3 lead text-muted text-center">
                Looking for variant data...
            </p>
            <!-- Table <div> is hidden until it is fully loaded
                to display the custom loading message. -->
            <div id="div-table-variants" class="table-variants" hidden="hidden">
                <div class="row pt-1 align-items-center">
                    <div class="col col-auto">
                        <button id="clear-filters-btn" class="btn btn-secondary btn-sm">
                            <i class="fas fa-rotate"></i>
                        </button>
                    </div>
                    <div class="col col-auto">
                        <div class="vr mt-1" style="height: 34px;"></div>
                    </div>
                    <div class="col col-auto">
                        <h6 class="px-0 m-0"><b>{{ page_context.search_value }}</b></h6>
                    </div>
                    <div class="col col-auto">
                        <div class="vr mt-1" style="height: 34px;"></div>
                    </div>
                    <div class="col col-auto">
                        <!-- var-count-text <span> is updated via a javascript 
                            to display number of variants (rows) in the table
                            after applying all filters. -->
                        <h6 class="px-0 m-0"><b>Variants:</b> <span id="var-count-text"></span></h6>
                    </div>
                    <div class="col col-auto">
                        <div class="vr mt-1" style="height: 34px;"></div>
                    </div>
                    <div class="col col-auto pe-0 d-flex gap-1">
                        <input class="form-check-input form-check-input-red variant-classification-filter" type="checkbox" id="checkbox-ptv-lof" value="PTV LoF" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-red" for="checkbox-ptv-lof">PTV LoF</label>
                        <button type="button" class="btn btn-sm btn-outline-gray only-btn" data-target="checkbox-ptv-lof" data-group="variant-classification-filter" aria-label="Show only PTV LoF variants">only</button>
                    </div>                  
                    <div class="col col-auto pe-0">
                        <input class="form-check-input form-check-input-red variant-classification-filter" type="checkbox" id="checkbox-non-ptv-lof" value="non-PTV LoF" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-red" for="checkbox-non-ptv-lof">non-PTV LoF</label>
                        <button type="button" class="btn btn-sm btn-outline-gray only-btn" data-target="checkbox-non-ptv-lof" data-group="variant-classification-filter" aria-label="Show only non-PTV LoF variants">only</button>
                    </div>
                    <div class="col col-auto pe-0">
                        <input class="form-check-input form-check-input-yellow variant-classification-filter" type="checkbox" id="checkbox-miss" value="Missense / Inframe indel" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-orange" for="checkbox-miss">Missense / Inframe indel</label>
                        <button type="button" class="btn btn-sm btn-outline-gray only-btn" data-target="checkbox-miss" data-group="variant-classification-filter" aria-label="Show only Missense / Inframe indel variants">only</button>
                    </div>
                    <div class="col col-auto pe-0">
                        <input class="form-check-input form-check-input-green variant-classification-filter" type="checkbox" id="checkbox-syn" value="Silent" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-green" for="checkbox-syn">Silent</label>
                        <button type="button" class="btn btn-sm btn-outline-gray only-btn" data-target="checkbox-syn" data-group="variant-classification-filter" aria-label="Show only Silent variants">only</button>
                    </div>
                    <div class="col col-auto pe-0">
                        <input class="form-check-input form-check-input-grey variant-classification-filter" type="checkbox" id="checkbox-oth" value="Other" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-grey" for="checkbox-oth">Other</label>
                        <button type="button" class="btn btn-sm btn-outline-gray only-btn" data-target="checkbox-oth" data-group="variant-classification-filter" aria-label="Show only Other variants">only</button>
                    </div>
                    <div class="col col-auto">
                        <a class="primary-link" href="#" id="panel-show-all-variants-modal" data-bs-toggle="modal" data-bs-target="#infoVariantClassificationGroups" aria-label="Show variant classification groups information">
                            <i class="fa-solid fa-xl fa-circle-question"></i></a>
                    </div>
                    <div class="col col-auto">
                        <div class="vr mt-1" style="height: 34px;"></div>
                    </div>
                    <div class="col col-auto pe-0">
                        <input class="form-check-input form-check-input-blue allele-filter" type="checkbox" id="checkbox-snv" value="SNV" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-blue" for="checkbox-snv">SNVs</label>
                    </div>
                    <div class="col col-auto">
                        <input class="form-check-input form-check-input-blue allele-filter" type="checkbox" id="checkbox-indel" value="INDEL" autocomplete="off" checked>
                        <label class="form-check-label form-check-label-blue" for="checkbox-indel">Indels</label>
                    </div>                   
                    <div class="col col-auto ms-auto">
                        * Same nucleotide change patient count 
                        <a class="primary-link" href="{% url 'main:about' %}"><i class="fa-solid fa-xl fa-circle-question"></i></a>
                    </div>
                </div>
                <div class="row">
                    <!-- Table options are described in the following doc:
                        https://bootstrap-table.com/docs/api/table-options/
                        The number of rows per page (18) was selected to 
                        display the table without the vertical scrolling bar
                        on 1920x1080 monitors when all rows height is one line. -->
                    <table id="table-variants"
                        data-sort-name="pos"
                        data-search="true"
                        data-search-align="left"
                        data-search-selector="#customSearch"
                        data-page-size="18"
                        data-pagination="true"
                        data-filter-control="true"
                        data-pagination-parts="['pageList']">
                        <thead>
                            <!-- Table column width configuration have the following quirks:
                                
                                If column "data-width" is not specified then it is automatically
                                adjusted to fit the overall table width taking into account
                                the width required to display other no-"data-width" columns
                                content without breaking it into multiple rows if possible.

                                If column "data-width" is less than required to display its
                                longest non-breakable word (string with no spaces), than it is
                                automatically increased to fit it.

                                To break a long word without spaces, a style with a fixed
                                "max-width" and "word-wrap: break-word" must be used.

                                if all columns have "data-width" specified but its total width
                                does not match the overall table width then "data-width"
                                properties are ignored.

                                Variant HGVS description in rare cases can be extremly long and
                                it does not contain spaces. To avoid horizontal table scrolling, 
                                "col-max-width-500" style is used to break it into multiple lines 
                                if needed. However, for the reasons described above, it will work
                                only when at least one other column does not have fixed "data-width".
                            -->
                            <tr class="primary">
                                <th data-field="chrom" data-filter-control="input" data-sortable="true" data-width="20" data-halign="center" data-align="center" data-valign="middle">Chrom</th>
                                <th data-field="pos" data-filter-custom-search="filterCustomIntegerSearch" data-filter-control="input" data-sortable="true" data-width="100" data-halign="center" data-valign="middle">
                                    Position
                                    <button type="button"
                                            class="icon-button alt-info tooltip-click"
                                            aria-label="Position filter information"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-custom-class="tooltip-click"
                                            title="Supports >N, <N, and range (START-END) number filters (inclusive, i.e. >N = ≥N).">
                                        <i class="fa-solid fa-xl fa-circle-question"></i>
                                    </button>
                                </th>
                                <th data-field="consequence" data-filter-control="select" data-width="200" data-sortable="true" data-halign="center" data-valign="middle">Consequence</th>
                                <th data-field="classification" data-filter-control="select" data-width="200" data-sortable="true" data-halign="center" data-valign="middle">Classification</th>
                                <th data-field="hgvs_c" data-filter-custom-search="filterCustomTextSearch" data-filter-control="input" class="col-max-width-500" data-width="500" data-sortable="true" data-halign="center" data-valign="middle">HGVSc</th>
                                <th data-field="hgvs_p" data-filter-custom-search="filterCustomTextSearch" data-filter-control="input" class="col-max-width-500" data-width="500" data-sortable="true" data-halign="center" data-valign="middle">HGVSp</th>
                                <th data-field="refseq_transcript" data-filter-control="input" data-sortable="true" data-halign="center" data-valign="middle">Transcript</th>
                                <th data-field="gene" data-filter-control="input" data-sortable="true" data-halign="center" data-valign="middle">Gene</th>
                                <th data-field="all_cancers_count" data-sortable="true" data-width="20" data-halign="center" data-align="right" data-valign="middle">All<br>cancers*</th>
                                <th data-field="solid_cancers_count" data-sortable="true" data-width="27" data-halign="center" data-align="right" data-valign="middle">Solid<br>cancers*</th>
                                <th data-field="haemonc_cancers_count" data-sortable="true" data-width="27" data-halign="center" data-align="right" data-valign="middle">HaemOnc<br>cancers*</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Info modals -->
{% include 'main/info_modals/var_classification_filters.html' %}

<!-- Load context variables from the django backend -->
{{ page_context|json_script:"page-context" }}
<script src="{% static 'js/variants.js' %}?{% now 'U' %}" defer></script>
{% endblock %}